.form_content {
    background: #fff;
    border-radius: 30px;
    padding: 40px;
    min-width: 500px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_content form {
    width: 100%;
}

.form_content_button {
    width: 40%;
    margin-left: 60%;
    margin-bottom: 0;
    padding: 12px;
    background: #d68865;
    font-size: 16px;
    color: #f9f6f4;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 50px;
}